# CMakeFile
*cmake-build-debug/
*cmake-build-debug-visual-studio/
*CMakeFiles/
CMakeCache.txt
data.txt
*.cmake

# idea IDE
*.idea/

# DevC++
*.ini
*.win
*.layout

#Doxygen
*html/
*latex/

# Visual Studio Development
*.vcxproj
*.vcxproj.filters
*.sln

# Visual Studio Code
*build/

*.o
main
